/* .App {
  text-align: center;
} */

:root {
  background-color: transparent;
  background: linear-gradient(green, orange);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #000; */
}

/* .container {
  display: grid;
  grid-template-rows: 100px, auto, 100px;
} */

/* Everything in this <div> is going to be centered in a column */
/* .main {
  display: flex;
  height: 100vh;
  background: pink;
} */

.navbar {
  grid-row: 1;
}

.body {
  grid-row: 2;
}

.footer {
  grid-row: 3;
}

.create-form label {
  color: whitesmoke !important;
  font-family: "Roboto", sans-serif;
  font-size: 12px !important;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-top: 1rem;
  background: #fffafa;
  color: #fffafa;
}

.nav li {
  display: inline-block;
  padding: 10px;
}

li a {
  text-decoration: none;
  color: #56aafd;
  font-size: 1.25rem;
}

li a:hover {
  color: #01c4ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #212121;
  color: #fffafa;
}

input {
  text-align: center;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}