* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    height: 10rem;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.black-logo {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;

}

.nav__welcome-text {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    color: #fff;
}

.nav__links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 1em;
}

.link {
    color: #fff;
    margin: .5em;
}

.link:hover {
    color: #80bfff;
    text-decoration: none;
}

.nav__logout-button {
    display: 'inline-block';
    background-color: dodgerblue;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}