*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.account_container h1 {
  margin-bottom: 4rem;
}

.account-content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  color: #fffafa;
}

.account_heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #fffafa;
}

.account-name {
  background-color: #000;
  color: #fffafa
}

.addresses-cards_container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

div.addresses_container h3,
div.cards_container h3,
div.past-orders_container h3 {
  margin: .5rem;
  background-color: #000;
  color: #fffafa;
  text-align: center;
}

.address-fields_container,
.card-fields_container {
  background-color: #fffafa;
  border-radius: .25rem;
  margin-bottom: .8rem;
  padding: .4rem 0 0;
}

.card-fields_container {
  padding: .7rem 0 0;
}

.addresses_container .address-fields {
  padding: .4rem 2rem;
}

.addresses_container .address-fields,
.cards_container .card-fields {
  max-width: 25rem;
}

.delete_button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2rem 0 .4rem;
  border-radius: .25rem;
  background-color: inherit;
}

.past-orders_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0;
}

.account-buttons_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 20rem;
}

/* -----------
  BUTTONS
-------------*/


.account_buttons {
  display: flex;
  border-radius: .25rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 20rem;
  color: #fffafa;
}

.account-delete_button {
  border-radius: .25rem;
  border: 0;
  font-size: 1rem;
  height: 2.2rem;
  width: 15rem;
  background-color: rgb(126, 2, 2);
  color: #fffafa;
}

.account-delete_button:hover {
  background-color: #690808;
}

.account-add_button,
.past-orders_button {
  border: 1px solid #000;
  font-size: 1.7rem;
  background-color: #257d0d;
}


.account-add_button:hover {
  background-color: #134e03;
}

.past-orders_button {
  background-color: rgb(40, 3, 75)
}

.past-orders_button:hover {
  background-color: rgb(62, 10, 108);
}

.hide-past-orders_button {
  background-color: rgb(126, 2, 2);
}

.hide-past-orders_button:hover {
  background-color: #690808;
}