* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: .25rem;
  background-color: rgb(30, 30, 30);
}

.add-card-modal_input {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 2.5rem;
  width: 25rem;
  border-radius: .25rem;
  border-width: 0;
  margin: .3rem;
  padding: 1rem;
  text-align: center;
  background-color: #fffafa;
}

.add-card-modal_input:first-child {
  margin-top: 2rem;
}

.card_button-submit {
  background-color: #257d0d;
  border-radius: 1rem;
  border-width: 0;
  font-size: 1.5rem;
  height: 3rem;
  width: 10rem;
  margin: 1rem;
  color: #fffafa;
}

.card_button-submit:hover {
  color: #fffafa;
  background-color: #134e03;
}