.address-fields {
  justify-items: center;
  padding: .3rem;
  width: 100fr;
  background-color: #fff;
  border-radius: .25rem;
}

.address-fields-delete {
  border-radius: .25rem .25rem 0 0;
}


.address-field {
  margin: -.2rem;
  background-color: #fff;
  color: #000;
}