.address-fields {
  justify-items: center;
  padding: 0 .3rem .1rem;
  width: 100fr;
  background-color: #fffafa;
  border-radius: .25rem;
}

.address-fields-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: .25rem;
  width: 22rem;
}

.address-fields-order p {
  text-align: center;
  height: 1.5rem;
  border-radius: .25rem;
}

.address-fields-delete {
  border-radius: .25rem .25rem 0 0;
}


.address-field {
  margin: -.2rem;
  background-color: #fffafa;
  color: #000;
}