.card-fields {
  justify-items: center;
  padding: .3rem;
  width: 20rem;
  border-radius: 0 0 .25rem .25rem;
  background-color: #fff;
}

.card-fields-selected {
  border-radius: .25rem .25rem 0 0;
}

.card-fields-radius {
  border-radius: .25rem;
}

.card-row {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  height: 1.3rem;
  width: 15rem;
  background-color: #fff;
  color: #000;
}

.card-field_label {
  background-color: #fff;
}

.card-field {
  background-color: #fff;
}

.cvv-card-row {
  height: 1.8rem;
}