* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart-item-view_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 17rem;
  margin: 3.5rem;
  padding: 1rem 1rem;
  background-color: #fffafa;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-view_link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-view_link .cart-view_heading {
  font-size: 2rem;
  font-weight: 700;
  margin: .5rem;
  color: rgb(40, 3, 75);
  background-color: #fffafa;
}

.cart-view_link .cart-view_heading:hover {
  color: darkgray;
}

.cart-view_image {
  border-radius: .25rem;
  max-width: 8.625rem;
  margin: 0 0.5rem;
}


#price {
  font-size: 1.5rem;
  background-color: #fffafa;
  margin: .5rem;
}

#cart-in-stock {
  font-size: 1.25rem;
  color: #257d0d;
  background-color: #fffafa;
  margin: 0 0 0.5rem;
}

#cart-only-in-stock {
  font-size: 1.25rem;
  color: rgb(232, 152, 4);
  background-color: #fffafa;
  margin: 0 0 0.5rem;
}

.cart-view_form {
  display: flex;
  flex-direction: column;
  background-color: #fffafa;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.cart_label-input {
  display: flex;
  background-color: #fffafa;
  height: 2.5rem;
  width: 100%;
  padding: 0 2rem;
  margin-bottom: .5rem;
}

.item-qty__label {
  display: flex;
  align-items: center;
  background-color: #fffafa;
  color: #000;
  font-size: large;
  border-radius: 0.25rem;
  height: 2.5rem;
  width: 70%;
  margin: 0 0 .5rem;
}

.subtotal_input {
  border: 100px #2f2e2e;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 2.5rem;
  width: 30%;
  min-width: 45px;
  margin: 0 0 .5rem;
  padding: 0 .5rem;
  background-color: #fffafa;
}

/* -----------
  BUTTONS
-------------*/

.cart-view_update,
.cart-view_remove {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  margin: 4px 0;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  color: #fffafa
}

.cart-view_update {
  background-color: #257d0d;
}

.cart-view_remove {
  background-color: rgb(126, 2, 2);
}

.cart-view_update:hover {
  background-color: #134e03;
}

.cart-view_remove:hover {
  background-color: #690808;
}