h3,
h4 {
  background-color: #fffafa;
  color: #000;
}

.complete-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 1rem;
  background-color: #fffafa;
}

div.complete-content p {
  margin: 0;
  font-size: large;
  background-color: #fffafa;
  color: #000;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffafa;
}

.shipping-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .25rem 0 1rem;
  background-color: #fffafa;
}

.total {
  margin-top: 1rem;
  background-color: #fffafa;
  color: #000;
}

.complete-actions {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-around;
}

.products_button,
.account_button {
  border-radius: .25rem;
  border-width: 0;
  font-size: 1.5rem;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 0 1rem 0 1rem;
  color: #fffafa;
}

.products_button {
  background-color: rgb(40, 3, 75);
}

.account_button {
  background-color: darkred;
}