.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.5rem;
  padding: 2rem;
  background-color: rgb(40, 3, 75);
  height: 10rem;
}

#copyright {
  color: darkgray;
  margin: 0;
  font-size: 1.5rem;
  background-color: rgb(40, 3, 75);
}

.footer-link_container {
  background-color: rgb(40, 3, 75);
}

.footer_link {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: darkgray;
}

.footer_link:hover {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: #fffafa
}

.footer_link:first-child {
  margin-left: 0;
  color: darkgray;
}

.footer_link:first-child:hover {
  color: #fffafa
}