.footer_container {
  align-items: center;
  justify-items: center;
  margin-top: 1.5rem;
  padding: 2rem;
  background-color: rgb(40, 3, 75);
  height: 8rem;
}

.footer-words {
  font-size: xx-large;
  font-weight: 10rem;
  background-color: rgb(40, 3, 75);
  color: #fff;
  margin-top: 10rem;
}