* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.checkout-item-view__container h3 {
  background-color: #fffafa;
  color: rgb(40, 3, 75);
}

.checkout-item-view__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100fr;
  margin-bottom: .5rem;
  padding: .5rem 1rem;
  background-color: #fffafa;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.checkout-view_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.checkout-view_link .checkout-view_heading {
  text-align: center;
  text-justify: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(40, 3, 75);
  background-color: #fffafa;
  margin: 0;
}

.checkout-view_heading:hover {
  color: rgb(62, 10, 108);
}

.checkout-view_image {
  border-radius: .25rem;
  max-width: 4rem;
  margin: 0 0.5rem 0;
}

.checkout-subtotal_container {
  display: 'flex';
  flex-direction: 'row';
  background-color: #fffafa;
  margin-top: .4rem;
}

.middle-aligned-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffafa;
  width: 100%;
}

.subtotal-text-title {
  font-size: 1rem;
  margin: .5rem 2rem 0 0;
  background-color: #fffafa;
  color: #000;
}

.subtotal-text-number {
  line-height: 1;
  font-size: 1.2rem;
  background-color: #fffafa;
  color: rgb(40, 3, 75)
}