*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -5rem;
    background-color: #000;
}

.login__heading {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #fff;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.login_username,
.login_password {
    height: 3rem;
    width: 20rem;
    background-color: #fff;
    border-radius: .25rem;
    border-width: 0;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.login_password {
    margin-bottom: 2rem;
}


.login__button-submit {
    background-color: dodgerblue;
    border-radius: 1rem;
    border-width: 0;
    font-size: 1.5rem;
    height: 3rem;
    width: 7rem;
    color: #fff;
}

.login__button-submit:hover {
    color: #fff;
    background-color: rgb(8, 112, 191);
}