*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -5rem;
    background-color: #000;
}

.login_heading {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #fffafa;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.login_username,
.login_password {
    height: 3rem;
    width: 20rem;
    background-color: #fffafa;
    border-radius: .25rem;
    border-width: 0;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.login_password {
    margin-bottom: 2rem;
}


.login_button-submit {
    background-color: rgb(40, 3, 75);
    border-radius: 1rem;
    border-width: 0;
    font-size: 1.5rem;
    height: 3rem;
    width: 7rem;
    color: #fffafa;
}

.login_button-submit:hover {
    color: #fffafa;
    background-color: rgb(62, 10, 108);
}