* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-view__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20rem;
    margin: 2rem;
    padding: 1rem 1rem;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-view__heading {
    font-size: 2.5rem;
    font-weight: 700;
    margin: .5rem;
    background-color: #fff;
    color: dodgerblue;
}

.product-view__image {
    max-width: 8.625rem;
    margin: 0 0.5rem;
}

.product-view__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 .5rem;
}

#price {
    font-size: 1.5rem;
    /* margin: .5rem; */
}

#product-in-stock {
    font-size: 1.25rem;
    color: green;
    background-color: #fff;
}

#product-only-in-stock {
    font-size: 1.25rem;
    color: orange;
    background-color: #fff;
}

.product-view__description {
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
}

.product-view__form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#product-view__input {
    border: 2px #2f2e2e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 2.5rem;
    width: 30%;
    min-width: 45px;
    margin-bottom: .5rem;
    background-color: #fff;
    padding: 0 .5rem;
}


/* -----------
    BUTTONS
-------------*/
.product-view__add-to-cart,
.product-view__buy-now {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    margin: 4px 0;
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.product-view__add-to-cart {
    background-color: #56aafd;
}

.product-view__buy-now {
    background-color: #35b711;
}

.product-view__add-to-cart:hover {
    background-color: #0f7dea;
}

.product-view__buy-now:hover {
    background-color: #2f9e0f;
}