* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.single-product__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 2rem;
  padding: 1rem 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.single-product__heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin: .5rem;
  background-color: #fff;
  color: dodgerblue;
  font-size: 2.5rem;
  font-weight: 700;
  margin: .5rem;
}

.single-product__image {
  max-width: 35%;
  margin: 0 0.5rem;
}

.single-product__description {
  width: 75%;
  margin: 1rem 0 0;
  background-color: #fff;
  color: #000;
}

.single-product__price {
  background-color: #fff;
  font-size: 2rem;
  margin: .5rem;

}

.single-product__in-stock {
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: green;
  background-color: #fff;
  margin: 0 0 0.5rem;
}

.single-product__only-in-stock {
  font-size: 1.25rem;
  color: orange;
  background-color: #fff;
  margin: 0 0 0.5rem;
}

.single-product__form {
  background-color: #fff;
}

.product-view__description {
  font-size: 1rem;
  font-weight: 400;
  background-color: #fff;
}

.single-product__form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#single-product__input {
  background-color: #fff;
  border: 2px #2f2e2e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 2.5rem;
  width: 20%;
  min-width: 45px;
  margin-bottom: .5rem;
  padding: 0 .5rem 0 1.5rem;
}

/* -----------
  BUTTONS
-------------*/
.single-product__add-to-cart,
.single-product__buy-now {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 2.5rem;
  margin: 4px 0;
  border: none;
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.single-product__add-to-cart {
  background-color: dodgerblue;
}

.single-product__buy-now {
  background-color: #35b711;
}

.single-product__add-to-cart:hover {
  background-color: #0f7dea;
}

.single-product__buy-now:hover {
  background-color: #2f9e0f;
}