.address {
  align-items: center;
  justify-items: center;
  background-color: #fffafa;
  border-radius: .25rem;
  margin-bottom: .5rem;
  padding-top: -1rem;
  width: 21rem;
}

.address-input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .25rem .25rem 0 0;
  background-color: #fffafa;
  height: 2.2rem;
  width: 21rem;
}

#address_button {
  margin-top: 0 0;
  border: 0px;
  height: 2rem;
  padding: 0 1.5rem;
  border-radius: .25rem;
  background-color: rgb(40, 3, 75);
  color: #fffafa;
}

#address_button:hover {
  background-color: rgb(62, 10, 108)
}