.single-card {
  align-items: center;
  justify-items: center;
  background-color: rgb(40, 3, 75);
  border-radius: .25rem;
  margin-bottom: .5rem;
  padding-top: -1rem;
  width: 20rem;
}

.card-input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .25rem .25rem 0 0;
  background-color: #fffafa;
  height: 2.5rem;
  width: 20rem;
}

.new-card_button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .1rem 0 .4rem;
  border-radius: 0 0 .25rem .25rem;
  background-color: #fffafa;
}

#card_button,
.new-card_button {
  margin-top: 0 0;
  border: 0px;
  height: 2rem;
  padding: 0 1.5rem;
  margin-top: .2rem;
  border-radius: .25rem;
  background-color: rgb(40, 3, 75);
  color: #fffafa;
}

#card_button:hover,
.new-card_button:hover {
  background-color: rgb(62, 10, 108)
}