.address {
  align-items: center;
  justify-items: center;
  background-color: #fff;
  border-radius: .25rem;
  margin-bottom: .5rem;
  padding-top: -1rem;
  width: 22rem;
}

.input_container {
  display: flex;
  justify-content: center;
  border-radius: .25rem .25rem 0 0;
  background-color: dodgerblue;
  width: 22rem;
}

#address_input {
  margin: .5rem 0;
  border: 0px;
  width: 2rem;
  height: 1.5rem;
}